.button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #4286f4;
  border-radius: 5px;
  color: #4286f4;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 30px;
  padding: 5px;
}
.button:hover {
  background-color: #4286f4;
  color: #ffffff;
}

.button:focus {
  outline: none;
}
